<div class="images_results_list">
  <div class="ui stackable grid">
    <% search_results.each do |image| %>
      <div class="four wide column">
        <%= render "search_results/image_media", image: image %>
      </div>
    <% end %>
  </div>
</div>
