<div class="sixteen wide column">
  <div class="search-form"
    <%= form_for query, url: { action: "index" }, method: "get" do %>
      <h2 class="search-form__title">Search from millions of photos in Flickr</h2>
      <div class="search-form__container">
        <div class="ui input search-form__input">
          <%= text_field_tag :query %>
        </div>
        <%= submit_tag "Search Now", class: "ui button search-form__button" %>
      </div>
    <% end %>
  </div>
</div>
