
<div class="ui container">
  <div class="ui grid">
    <div class="ui eight wide column">
      <%= form_for @query, url: {action: "index"}, method: "get" do %>
        <h2>Search from millions of photos in Flickr</h2>
        <div class="ui input image-search">
          <%= text_field_tag(:search_query) %>
        </div>
        <%= submit_tag "Search Now", class: "ui button"%>
      <% end %>
    </div>
  </div>
</div>

<div class="ui container">
  <div class="ui grid">
    <% @search_results.each do |result| %>
      <img src="<%= result.first %>" />
    <% end %>
  </div>
</div>

