<div class="ui container">
  <div class="ui grid">
    <div class="row">
      <%= render "search_results/search_form" %>
    </div>
    <div class="row">
      <%= render "search_results/image_results" %>
    </div>
  </div>
</div>
