<div class="ui fixed inverted menu">
  <div class="ui container">
    <a href="#" class="header item text-logo">Flickry</a>
  </div>
</div>

<div class="ui container">
  <div class="ui grid">
    <div class="ui eight wide column">
      <h2>Search from millions of photos in Flickr</h2>
      <div class="ui input image-search">
        <input type="text" placeholder="enter image name to search" />
      </div>
      <button class="ui button">Search Now</button>
    </div>
  </div>
</div>
