<div class="ui fixed inverted menu">
  <div class="ui container">
    <a href="#" class="header item text-logo">Flickry</a>
  </div>
</div>

<div class="ui container">
  <div class="ui grid">
    <div class="ui eight wide column">
      <%= form_tag search_results_path, method: "post" do %>
        <h2>Search from millions of photos in Flickr</h2>
        <div class="ui input image-search">
          <%= text_field_tag(:search_query) %>
        </div>
        <%= submit_tag("Search Now") %>
      <% end %>
    </div>
  </div>
</div>

<hr>
<h3>Search History</h3>

<% @search_history.each do |search_term| %>
  <p><%= search_term.query %></p>
<% end %>
