<!DOCTYPE html>
<html>
<head>
  <title>FlickryRails</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="ui fixed inverted menu">
  <div class="ui container">
    <a href="#" class="header item text-logo">Flickry</a>
  </div>
</div>
<%= yield %>

</body>
</html>
